.hell {
    color: $grey;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: color 0.5s;

    &:hover {
        color: $crimson;
        transition: 0.5s ease-in-out;
        border-bottom: 2px solid $crimson;
    }
}