.hellContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .hell {
    display: flex;
    color: $grey;
    border-bottom: 3px solid transparent;
    transition: color 0.5s;

        h2 {
            margin: 0px;
        }

        &:hover {
            color: $crimson;
            transition: 0.5s ease-in-out;
            border-bottom: 3px solid $crimson;
        }
    }
}

