.portfolio-sidebar-list-wrapper {
    .portfolio-item-thumb {
        border-bottom: 4px solid $dark-green;
        padding: 21px;

        .portfolio-item-thumb-img img {
            width: 100%;
        }

        .text-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                font-size: 1.5em;
                font-weight: 700;
                position: relative;
                top: 12px;
            }

            .actions {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 15px;

                .action-icon {
                    cursor: pointer;
                    font-size: 1.5em;
                    transition: 0.5s ease-in-out;
                    position: relative;
                    top: 12px;

                    &:hover {
                        color: $warning;
                    }
                }
            }
        }
    }
}