$teal: #26BFD4;
$dark-teal: #207B88;
$charcoal: #42454A;
$off-white: #F6F6F6;
$blue: #008DFF;
$grey: #8A8A8A;
$crimson: #B80F0A;
$warning: #922A2A;
$light-green: #8DAD88;
$dark-green: #576E54;
$lavender: #967bb6;